image: java:8-jdk

stages:
  - build
  - test
#  - deploy

before_script:
#  - echo `pwd` # debug
  - echo "$CI_BUILD_NAME, $CI_BUILD_REF_NAME $CI_BUILD_STAGE, $CI_BUILD_TOKEN" # debug
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script:
    - ./gradlew assemble
  artifacts:
    paths:
      - build/libs/*.jar
    expire_in: 1 week
  only:
    - master

test:
  stage: test
  script:
    - ./gradlew check
#
#deploy:
#  stage: deploy
#  script:
#    - ./deploy

after_script:
  - echo "End CI"